.wrapper{
  
  height: 900px;
  display: grid;
  
  grid-template:
    
    "A B C" auto
    
    "D E F";
  grid-template-columns: 50%  50%;
    grid-row-gap: 3%;

    
    
}
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
  
  background-color: #BA55D3;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  color: orange;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: blue;
}
navbar a{
  
  text-decoration: none;
  color: orange;
  float: right;
  
  font-size: 10px;
  font-family: calibri;
  font-weight: bold;
  
  
 
  
}

body{
  background-color: red;
}
.navbar{
 border: none;
  background-color:red;
  overflow: hidden;
  display: block;
  top: 0;
  
 
}
.logo{
  float: left;
}
.navbar a{
  
  text-decoration: none;
  color: white;
  float: right;
  padding: 10px 44px;
  font-size: 20px;
  font-family: calibri;
  font-weight: bold;
 
  
}

.navbar a:hover {
  background-color: grey;
}

.c{
  grid-row: 2 / 3;
}
.d{
  grid-row: 2/3;
}
.e{
  grid-row: 3/4;
}

p{
  
  color: red;
}
/* row line/column line/end row/end column*/
.info{
  
}
div{
  
  background-color: yellow;
  border: solid 1px white;
}
