.navbar{
 
  background-color: red;
  overflow: hidden;
  display: block;
  top: 10;
 
}
h1{
  font-size: 27px;
  font-family: calibri;
 
}
img{
  border: 2px solid red;
}

.navbar a{
  
  text-decoration: none;
  color: black;
  float: right;
  padding: 10px 44px;
  font-size: 20px;
  
}

.navbar a:hover {
  background-color: green;
}
body{
  
  background-color: black;
}
h1{
  color: red;
  background-color: white;
}
p{
  color: red;
  font-family: calibri;
  
  font-size: 15px;
}

table {
  border: 1px solid red;
  color: Orange;
    border-collapse: collapse;
  padding: 10px;
  width: 35%;
}

tr, td, th {
  border: 1px solid red;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
waysTo{
  
  color: white;
}

tr:nth-child(even):hover {background-color: red;}
d;}

ul{
  color: red;
  float: left;
}
li{
  color: red;
  float: left;
  list-style-type: circle;
  margin: 2px;
  padding: 12px;
}
h6{
  float: left;
  color: red;
  font-size: 17px;
}



