body {
  background-color: green;
}
h1 {
  
  color: black;
  font-size: 25px;
  text-align: center;
  background-color: white;
  border: 3px black dashed;
  letter-spacing: 1px;
  font-family: calibri;
  
  
}

iframe{
  border: solid white 2px;
}

li, p {
  color: gold;
  font-size: 15px;
 list-style-type: circle;

}

table {
  border: 1px solid white;
  color: black;
    border-collapse: collapse;
  padding: 10px;
  width: 35%;
}

tr, td, th {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

tr:hover {
  background-color: red;
}

tr:nth-child(even) {background-color: gold;}

tr:nth-child(even):hover {background-color: red;}
