.wrapper{
  
  height: 900px;
  display: grid;
  
  grid-template:
    
    "A B C" auto
    
    "D E F";
  grid-template-columns: 50%  50%;
    grid-row-gap: 3%;

    
    
}

body{
  background-color: white;
}
.navbar{
 border: none;
  background-color:silver;
  overflow: hidden;
  display: block;
  top: 0;
  
 
}
.logo{
  float: left;
}
.navbar a{
  
  text-decoration: none;
  color: navy;
  float: right;
  padding: 10px 44px;
  font-size: 20px;
  font-family: calibri;
  font-weight: bold;
 
  
}

.navbar a:hover {
  background-color: grey;
}

.c{
  grid-row: 2 / 3;
}
.d{
  grid-row: 2/3;
}
.e{
  grid-row: 3/4;
}
.j{
  5/6;
}
p{
  
  color: silver;
}
/* row line/column line/end row/end column*/
table {
  border: 1px solid white;
  color: silver;
    border-collapse: collapse;
  padding: 10px;
  width: 35%;
}

tr, td, th{
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
div{
  
  background-color: navy;
  border: solid 1px white;
}

@media only screen and (max-width: 1024px){
  .wrapper{
     display: flex;
    flex-wrap: wrap;
  } 
}

