.navbar a{
  
  text-decoration: none;
  color: gray;
  float: right;
  
  font-size: 10px;
  font-family: calibri;
  font-weight: bold;
  
  
 
  
}

#bars{
  float: right;
  
  padding: 10px 44px;
 
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
  
  background-color: black;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  color: orange;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: blue;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  margin-top: 0px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.wrapper{
  
  height: 900px;
  display: grid;
  
  grid-template:
    
    "A B C" auto
    
    "D E F";
  grid-template-columns: 50%  50%;
    grid-row-gap: 3%;

    
    
}
.c{
  grid-row: 2 / 3;
}
.d{
  grid-row: 2/3;
}
.e{
  grid-row: 3/4;
}
.j{
  5/6;
}
#info, #tickets{
  
  background-color:  black;;
  border: solid 1px white;
}

table {
  border: 1px solid white;
  color: black;
    border-collapse: collapse;
  padding: 10px;
  width: 35%;
  font-size: 11px;
}
button{
    text-align: center;
  
    float: left;
 
}

tr, td, th{
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  color: white;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

body{
  
  background-color: grey;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
